/* Email Notification Settings */

.hive_lite_support_settings_email_notification {
  display: none;
}

.hive_lite_support_settings_email_notification_body {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}
.hive_lite_support_settings_email_notification_body_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}
.hive_lite_support_settings_email_notification_body_header h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #1d2635;
}
.hive_lite_support_settings_email_notification_body_header p {
  color: #acacac;
  margin: 10px 0;
  font-size: 16px;
}
.hive_lite_support_settings_email_notification_body_header button {
  cursor: pointer;
  padding: 12px 25px;
  background-color: #685be7;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  border: 0;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hive_lite_support_settings_email_notification_body_items {
}
.hive_lite_support_settings_email_notification_body_item {
  padding: 30px 0;
}
.hive_lite_support_settings_email_notification_body_item_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hive_lite_support_settings_email_notification_body_item_header h4 {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.hive_lite_support_settings_email_notification_body_item_header .toggle_switch {
  font-size: 19px;
  position: relative;
  display: inline-block;
  width: 51px;
  height: 25px;
  margin-left: 0;
}
.hive_lite_support_settings_email_notification_body_item_header
  .toggle_switch
  input {
  opacity: 0;
  width: 0;
  height: 0;
}
.hive_lite_support_settings_email_notification_body_item_header
  .toggle_switch
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hive_lite_support_settings_email_notification_body_item_header
  .toggle_switch
  .slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hive_lite_support_settings_email_notification_body_item_header
  .toggle_switch
  input:checked
  + .slider {
  background-color: #685be7;
}
.hive_lite_support_settings_email_notification_body_item_header
  .toggle_switch
  input:focus
  + .slider {
  box-shadow: 0 0 1px #685be7;
}
.hive_lite_support_settings_email_notification_body_item_header
  .toggle_switch
  input:checked
  + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.hive_lite_support_settings_email_notification_body_item_header
  .toggle_switch
  .slider.round {
  border-radius: 34px;
}
.hive_lite_support_settings_email_notification_body_item_header
  .toggle_switch
  .slider.round:before {
  border-radius: 50%;
}

.hive_lite_support_settings_email_notification_body_item_body {
  padding: 10px 30px 30px 30px;
  background-color: #f5f4fa;
  border-radius: 10px;
  margin: 20px 0 0 0;
}

.hive_lite_support_settings_email_notification_single_form_element {
  padding-top: 26px;
}
.hive_lite_support_settings_email_notification_single_form_element label {
  display: block;
  color: #2b2a2d;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.hive_lite_support_settings_email_notification_single_form_element p {
  display: block;
  color: #8a8a8a;
  font-size: 12px;
  font-weight: 400;
  margin: 2px 0 0 0;
}
.hive_lite_support_settings_email_notification_single_form_element
  input[type="text"],
.hive_lite_support_settings_email_notification_single_form_element
  input[type="email"],
.hive_lite_support_settings_email_notification_single_form_element
  input[type="url"],
.hive_lite_support_settings_email_notification_single_form_element
  input[type="password"],
.hive_lite_support_settings_email_notification_single_form_element
  input[type="number"],
.hive_lite_support_settings_email_notification_single_form_element
  input[type="time"],
.hive_lite_support_settings_email_notification_single_form_element
  input[type="date"],
.hive_lite_support_settings_email_notification_single_form_element
  input[type="datetime-local"],
.hive_lite_support_settings_email_notification_single_form_element textarea,
.hive_lite_support_settings_email_notification_single_form_element select {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 9px 12px;
  font-size: 14px;
  line-height: 1.7;
  color: #43454b;
  background: #ffffff;
  border: 1px solid #e4e4e6;
  outline: none;
  box-shadow: none;
}

.hive_lite_support_settings_email_notification_single_form_element
  input[type="text"]:focus,
.hive_lite_support_settings_email_notification_single_form_element
  input[type="email"]:focus,
.hive_lite_support_settings_email_notification_single_form_element
  input[type="url"]:focus,
.hive_lite_support_settings_email_notification_single_form_element
  input[type="password"]:focus,
.hive_lite_support_settings_email_notification_single_form_element
  input[type="number"]:focus,
.hive_lite_support_settings_email_notification_single_form_element
  input[type="time"]:focus,
.hive_lite_support_settings_email_notification_single_form_element
  input[type="date"]:focus,
.hive_lite_support_settings_email_notification_single_form_element
  input[type="datetime-local"]:focus,
.hive_lite_support_settings_email_notification_single_form_element
  textarea:focus,
.hive_lite_support_settings_email_notification_single_form_element
  select:focus {
  color: #43454b;
  border: 1px solid #d9d9db;
  background: #ffffff;
  outline: none;
  box-shadow: none;
}
